n8n/pragmatic-engineer-to-conen.workflow.json
{
  "name": "Pragmatic Engineer → Conen Blog (magyar feldolgozás, draft)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Óránkénti ütemezés",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://blog.pragmaticengineer.com/rss/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ConenDigitalBot/1.0; +https://conendigital.hu)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml, application/xml, text/xml"
            }
          ]
        }
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "RSS feed letöltése",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -820,
        320
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "XML → JSON",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -600,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// A feed item-ek kinyerése + dedup a workflow static data alapján.\n// Csak az ELSŐ még nem látott (legfrissebb) posztot engedi tovább futásonként,\n// hogy ne posztoljon egyszerre 10 cikket az első indításkor.\n\nconst input = $input.first().json;\n\n// Ghost/Substack RSS struktúra: rss.channel.item (lehet tömb vagy egyetlen objektum)\nlet items = input?.rss?.channel?.item ?? [];\nif (!Array.isArray(items)) items = [items];\n\nif (items.length === 0) {\n  return [];\n}\n\nconst store = $getWorkflowStaticData('global');\nstore.seenGuids = store.seenGuids || [];\n\n// A feed legfrissebb elöl jön. Megfordítjuk, hogy időrendben dolgozzuk fel.\nconst chronological = [...items].reverse();\n\nconst freshOnes = [];\nfor (const it of chronological) {\n  const guid = (it.guid && (it.guid['_'] || it.guid)) || it.link;\n  if (!guid) continue;\n  if (!store.seenGuids.includes(guid)) {\n    freshOnes.push({ item: it, guid });\n  }\n}\n\nif (freshOnes.length === 0) {\n  return [];\n}\n\n// Csak egyet dolgozunk fel futásonként (a legrégebbi még feldolgozatlant).\nconst next = freshOnes[0];\nconst it = next.item;\n\nconst title = (it.title && (it.title['_'] || it.title)) || '';\nconst link = it.link || '';\nconst pubDate = it.pubDate || '';\n// content:encoded vagy description tartalmazza a HTML törzset (paywallnál csak teaser!)\nconst html = it['content:encoded'] || it.description || '';\n\nreturn [\n  {\n    json: {\n      guid: next.guid,\n      sourceTitle: String(title).trim(),\n      sourceUrl: String(link).trim(),\n      sourcePubDate: String(pubDate).trim(),\n      sourceHtml: String(html)\n    }\n  }\n];\n"
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Új poszt szűrés (dedup)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        320
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "chrisconen",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "conendigital",
          "mode": "name"
        },
        "filePath": "conen-blog/src/content/blog"
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Meglévő posztok (belső link)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_GITHUB_CRED_ID",
          "name": "GitHub – conendigital"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Slug-lista + a TELJES LLM kérés-body összeállítása JSON.stringify-jal.\n// Így a cikk HTML-jében lévő idézőjel/sortörés/backslash sem töri szét a JSON-t.\n\nconst files = $input.all();\nconst slugs = files\n  .map(f => f.json.name)\n  .filter(n => typeof n === 'string' && n.endsWith('.md'))\n  .map(n => n.replace(/\\.md$/, ''));\n\nconst source = $('Új poszt szűrés (dedup)').first().json;\n\nconst system = [\n  \"Te a Conen Digital (conendigital.hu) magyar szakmai blogjának szerkesztője vagy. A feladatod, hogy egy angol nyelvű szoftverfejlesztői/tech cikk alapján EREDETI, magyar nyelvű FELDOLGOZÁST írj – NEM szó szerinti fordítást. Ez jogilag (szerzői jog) és SEO szempontból (duplikált tartalom elkerülése) is kötelező. A cikk Gergely Orosz 'The Pragmatic Engineer' blogjából származik.\",\n  \"\",\n  \"SZABÁLYOK:\",\n  \"1. Írj egy önálló, magyar nyelvű elemző-összefoglaló cikket (600-1000 szó), ami a forrás fő gondolatait ismerteti, ÉS hozzáteszi a magyar/KKV piaci kontextust vagy a Conen Digital nézőpontját.\",\n  \"2. KÖTELEZŐ forrásmegjelölés: a cikk elején egy bevezető mondat, a végén pedig egy 'Forrás' szekció a teljes eredeti címmel és linkkel: [eredeti cím](forrás URL).\",\n  \"3. Ne másolj le 30 egymást követő szónál többet az eredetiből. Parafrazeálj.\",\n  \"4. Szúrj be 1-3 RELEVÁNS belső linket a megadott meglévő slug-listából, markdown formátumban: [horgonyszöveg](/blog/slug). Csak akkor linkelj, ha tényleg releváns.\",\n  \"5. A 'category' mező ÉRTÉKE KIZÁRÓLAG ezek egyike lehet: EAA, AX-readiness, AI Ops, Site Factory, MCP-Commerce, Case Study, CENTAUR. Válaszd a témához legközelebbit (tech/fejlesztői témánál általában 'AI Ops' vagy 'CENTAUR').\",\n  \"6. A 'tags' 3-6 magyar/angol kulcsszó tömbje.\",\n  \"7. A 'slug' kötőjeles, ékezet nélküli, csak [a-z0-9-], magyar nyelvű.\",\n  \"8. A 'summary' 1-2 mondat, max 155 karakter (meta description).\",\n  \"9. A body markdown legyen: H2 (##) szekciók, **bold**, listák. NE tegyél bele H1-et (a title adja).\",\n  \"\",\n  \"KIMENET: KIZÁRÓLAG egy JSON objektum, mezők: title (string), summary (string), category (string), tags (string tömb), slug (string), readingTime (szám, perc), body_markdown (string).\"\n].join(\"\\n\");\n\nconst user = [\n  \"EREDETI CÍM: \" + (source.sourceTitle || ''),\n  \"\",\n  \"FORRÁS URL: \" + (source.sourceUrl || ''),\n  \"\",\n  \"MEGLÉVŐ POSZT SLUG-OK (belső linkeléshez): \" + JSON.stringify(slugs),\n  \"\",\n  \"EREDETI TARTALOM (HTML, lehet csak részlet/teaser ha fizetős):\",\n  (source.sourceHtml || '')\n].join(\"\\n\");\n\nconst payload = {\n  model: \"llama-3.3-70b-versatile\",\n  temperature: 0.4,\n  response_format: { type: \"json_object\" },\n  messages: [\n    { role: \"system\", content: system },\n    { role: \"user\", content: user }\n  ]\n};\n\nreturn [\n  {\n    json: {\n      ...source,\n      existingSlugs: slugs,\n      llmBody: JSON.stringify(payload)\n    }\n  }\n];\n"
      },
      "id": "a6666666-6666-4666-8666-666666666666",
      "name": "Slug lista összeállítás",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llmBody }}",
        "options": {}
      },
      "id": "a7777777-7777-4777-8777-777777777777",
      "name": "AI – magyar feldolgozás",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_LLM_CRED_ID",
          "name": "Groq API key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Az LLM JSON válaszának kibontása és a .md fájl tartalom összeállítása.\n\nconst resp = $input.first().json;\n\n// OpenAI-kompatibilis válaszstruktúra: choices[0].message.content (string, ami JSON)\nlet raw = resp?.choices?.[0]?.message?.content ?? '';\nlet ai;\ntry {\n  ai = JSON.parse(raw);\n} catch (e) {\n  // Néha kódblokkba csomagolja – próbáljuk kivágni a { ... } részt\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!m) throw new Error('Az AI válasza nem értelmezhető JSON: ' + raw.slice(0, 300));\n  ai = JSON.parse(m[0]);\n}\n\nconst source = $('Slug lista összeállítás').first().json;\n\n// --- validáció / fallback ---\nconst VALID_CATEGORIES = ['EAA', 'AX-readiness', 'AI Ops', 'Site Factory', 'MCP-Commerce', 'Case Study', 'CENTAUR'];\nlet category = VALID_CATEGORIES.includes(ai.category) ? ai.category : 'AI Ops';\n\nfunction slugify(s) {\n  return String(s)\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .slice(0, 80);\n}\n\nlet slug = ai.slug ? slugify(ai.slug) : slugify(ai.title || source.sourceTitle);\nif (!slug) slug = 'pragmatic-' + Date.now();\n\nconst tags = Array.isArray(ai.tags) ? ai.tags : [];\nconst today = new Date().toISOString().slice(0, 10); // YYYY-MM-DD\nconst readingTime = Number.isFinite(ai.readingTime) ? ai.readingTime : 6;\n\n// YAML-biztos string escape (idézőjelek)\nfunction yq(s) {\n  return '\"' + String(s).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"') + '\"';\n}\n\nconst tagsYaml = tags.map(t => '  - ' + yq(t)).join('\\n');\n\nconst frontmatter = [\n  '---',\n  'title: ' + yq(ai.title || source.sourceTitle),\n  'summary: ' + yq(ai.summary || ''),\n  'publishedAt: ' + today,\n  'category: ' + yq(category),\n  'tags:',\n  tagsYaml,\n  'author: \"Chris Conen\"',\n  'readingTime: ' + readingTime,\n  'draft: true',\n  '---',\n  ''\n].join('\\n');\n\nconst body = (ai.body_markdown || '').trim() + '\\n';\nconst fileContent = frontmatter + '\\n' + body;\n\nreturn [\n  {\n    json: {\n      slug,\n      filePath: 'conen-blog/src/content/blog/' + slug + '.md',\n      fileContent,\n      commitMessage: 'blog: új draft – ' + (ai.title || source.sourceTitle),\n      guid: source.guid\n    }\n  }\n];\n"
      },
      "id": "a8888888-8888-4888-8888-888888888888",
      "name": ".md fájl összeállítás",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        320
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "chrisconen",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "conendigital",
          "mode": "name"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "={{ $json.commitMessage }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "a9999999-9999-4999-8999-999999999999",
      "name": "GitHub commit (draft .md)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        720,
        320
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_GITHUB_CRED_ID",
          "name": "GitHub – conendigital"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sikeres commit után elmentjük a guid-ot, hogy ne dolgozzuk fel újra.\nconst guid = $('.md fájl összeállítás').first().json.guid;\nconst store = $getWorkflowStaticData('global');\nstore.seenGuids = store.seenGuids || [];\nif (guid && !store.seenGuids.includes(guid)) {\n  store.seenGuids.push(guid);\n  // memóriahatár: csak az utolsó 500-at tartjuk meg\n  if (store.seenGuids.length > 500) {\n    store.seenGuids = store.seenGuids.slice(-500);\n  }\n}\nreturn [{ json: { ok: true, savedGuid: guid, totalSeen: store.seenGuids.length } }];\n"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Guid mentése (feldolgozva)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        320
      ]
    }
  ],
  "connections": {
    "Óránkénti ütemezés": {
      "main": [
        [
          {
            "node": "RSS feed letöltése",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS feed letöltése": {
      "main": [
        [
          {
            "node": "XML → JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML → JSON": {
      "main": [
        [
          {
            "node": "Új poszt szűrés (dedup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Új poszt szűrés (dedup)": {
      "main": [
        [
          {
            "node": "Meglévő posztok (belső link)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meglévő posztok (belső link)": {
      "main": [
        [
          {
            "node": "Slug lista összeállítás",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug lista összeállítás": {
      "main": [
        [
          {
            "node": "AI – magyar feldolgozás",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI – magyar feldolgozás": {
      "main": [
        [
          {
            "node": ".md fájl összeállítás",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ".md fájl összeállítás": {
      "main": [
        [
          {
            "node": "GitHub commit (draft .md)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub commit (draft .md)": {
      "main": [
        [
          {
            "node": "Guid mentése (feldolgozva)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "conen-pragmatic-engineer-sync"
  },
  "tags": []
}
